.git
.gitignore

.vs
.idea
.vscode
*.user
*.suo
*.swp
*.sln.DotSettings.user

**/bin/
**/obj/
**/out/
**/publish/

**/allure-results/
**/test-results/
**/TestResults/
server/Benchmarks/results/

**/docker-compose*.yml
**/Dockerfile
**/test-infra/
**/benchmarks/

**/*.tmp
**/*.log