openapi: 3.1.1

info:
  title: MarketStat API
  version: 1.0.0
  description: >
    RESTful API for analyzing salary data in the Russian labor market.
  
servers:
  - url: http://localhost:5000/api
    description: Local Development Server

tags:
  - name: Dimensions
    description: Operations for managing dimension data.

paths:
  /dim-employers:
    get:
      tags:
        - Dimensions
      summary: Get a list of all employers
      description: Retrieves a paginated list of all employers.
      security: []
      responses:
        '200':
          description: A list of employers was successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DimEmployerDto'
    
    post:
      tags:
        - Dimensions
      summary: Creates a new employer
      description: Adds a new employer record to the database.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDimEmployerDto'
      responses:
        '201':
          description: The employer was created successfully.
          headers:
            Location:
              description: The URL of the newly created employer resource.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimEmployerDto'
        '400':
          description: Bad request - The request body is invalid.
        '401':
          description: Unauthorized - JWT token is missin or invalid.
        '403':
          description: Frobidden - The user does not have the required role.
        '409':
          description: Conflict - An employer with the same name, INN, or OGRN already exists.
  
  /dim-employers/{employerId}:
    parameters:
      - name: employerId
        in: path
        required: true
        description: The unique identifier of the employer.
        schema:
          type: integer
          format: int32
    
    get:
      tags:
        - Dimensions
      summary: Get an employer by ID
      description: Retrieves a single employer resource by its unique identifier.
      security: []
      responses:
        '200':
          description: Employer resource was found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimEmployerDto'
        '404':
          description: Not found - An employer with the specified ID does not exist.
    
    put:
      tags:
        - Dimensions
      summary: Update an entire employer resource
      description: Replaces an existing employer resource with a new representation. All fields are required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDimEmployerDto'
      responses:
        '204':
          description: The employer was updated successfully. No content is returned.
        '400':
          description: Bad request - The request body is invalid.
        '404':
          description: Not Found - An employer with the specified ID does not exist.
    patch:
      tags:
        - Dimensions
      summary: Partially update an employer resource
      description: Updates one or more fields of an existing employer resource. Any fields included in the request body will be updated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDimEmployerDto'
      responses:
        '204':
          description: The employer was partially updated successfully. No content is returned.
        '400':
          description: Bad request - The request body is invalid.
        '404':
          description: Not found - An employer with the specified ID does not exist.
    delete:
      tags:
        - Dimensions
      summary: Delete an employer
      description: Deletes and employer resource.
      responses:
        '204':
          description: The employer was deleted successfully.
        '404':
          description: Not Found - An employer with the specified ID does not exist.

components:
  schemas:

    DimEmployerDto:
      type: object
      description: Represents an employer entity.
      properties:
        employerId:
          type: integer
          format: int32
          readOnly: true
        employerName:
          type: string
        inn:
          type: string
        ogrn:
          type: string
        kpp:
          type: string
        registrationDate:
          type: string
          format: date
        legalAddress:
          type: string
        website:
          type: string
          format: uri
        contactEmail:
          type: string
          format: email
        contactPhone:
          type: string
    
    CreateDimEmployerDto:
      type: object
      description: The set of properites required to create a new employer.
      required:
        - employerName
        - inn
        - ogrn
        - kpp
        - registrationDate
        - legalAddress
      properties:
        employerName:
          type: string
        inn:
          type: string
        ogrn:
          type: string
        kpp:
          type: string
        registrationDate:
          type: string
          format: date
        legalAddress:
          type: string
        website:
          type: string
          format: uri
        contactEmail:
          type: string
          format: email
        contactPhone:
          type: string
    
    UpdateDimEmployerDto:
      type: object
      description: The set of properties available for updating an employer.
      properties:
        employerName:
          type: string
        inn:
          type: string
        ogrn:
          type: string
        kpp:
          type: string
        registrationDate:
          type: string
          format: date
        legalAddress:
          type: string
        website:
          type: string
          format: uri
        contactEmail:
          type: string
          format: email
        contactPhone:
          type: string

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        JWT Authorization header using the Bearer scheme. Provide the token in the Authorization header.
        Example: "Authorization: Bearer {token}"

security:
  - bearerAuth: []